node_modules/
/public/hot
/public/storage
public/upload/
public/uploads/
public/js/
storage/
storage/logs/laravel.log
vendor/
.idea/
.env
.deploy.sh
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
